<%- layout('layouts/boilerplate') %>


    <div class="confirmation-container">
        <h2>One Step Ahead</h2>
        <p>You will get a notification via Email, WhatsApp and SMS on approval of your account.</p>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>
