<%- layout('layouts/boilerplate') %>

<div style="text-align: center; margin-top: 60px; color: #fff;">
  <h2> Invite Accepted!</h2>
  <p style="margin-top: 20px;">
    Thanks for accepting the invitation. You can now <a href="/login" style="color: #b0766b;">log in</a> or <a href="/register" style="color: #b0766b;">register</a> to Adspire.
  </p>
</div>
