<%- layout('layouts/boilerplate') %>


<section>
    <div class="warning"><%= message %></div>
  <a href="/brand-dashboard" class="button">Go to Dashboard</a>
</section>
<style>
    body {
      font-family: Poppins, sans-serif;
      background-color: #f7f7f7;
      text-align: center;
      padding: 100px;
    }
    .warning {
      color: #b0453d;
      font-size: 22px;
      margin-bottom: 20px;
    }
    .button {
      background-color: #b0766b;
      color: white;
      padding: 12px 24px;
      text-decoration: none;
      border-radius: 6px;
      font-weight: bold;
    }
</style>